<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender for console output -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </layout>
    </appender>

    <property name="LOG_PATH" value="./logs" />
    <property name="logFileName" value="itabc" />
    <property name="serverLogFileName" value="server" />

    <!-- Appender for service log file output -->
    <appender name="ITABC-FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${logFileName}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
        <!-- The file size & time based rolling policy, only the maxHistory
            number of log files will be kept, only totalSizeCap size files are kept -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/${logFileName}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Appender for Server log file output -->
    <appender name="SERVER-FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${serverLogFileName}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/${serverLogFileName}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- logback-spring.xml provides separate configuration profile feature -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="net.itabc" additivity="false" level="DEBUG">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="ITABC-FILE-AUDIT" />
        </logger>
    </springProfile>
    <springProfile name="staging">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="net.itabc" additivity="false" level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="ITABC-FILE-AUDIT" />
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="SERVER-FILE-AUDIT" />
        </root>
        <logger name="net.itabc" additivity="false" level="INFO">
            <appender-ref ref="ITABC-FILE-AUDIT" />
        </logger>
    </springProfile>

</configuration>